graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include licenser_template

exclude .gitmodules
exclude submodules
recursive-exclude submodules *
include tox.ini .travis.yml .appveyor.yml .readthedocs.yml mypy.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib .mypy_cache/** _autosummary/* reference/*
